@using Microsoft.AspNetCore.Http;
@{
    ViewBag.ActiveMenuItem = "menu-tutor";
}

    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>

        <div class="col-sm-8 text-left">
            <h1>Chci pomáhat</h1>
            <p>Hledáme tutory, tj. studenty/studentky 3.- 5. ročníku FAV, kteří by si chtěli přivydělat poskytováním konzultací mladším spolužákům. <strong>Nabízíme 190,- Kč na hodinu, požadujeme dobré znalosti alespoň některého z doučovaných předmětů</strong>, tj. na úrovni známky výborně nebo alespoň velmi dobře.</p>
            <hr>
            <p>Máte-li zájem, vyplňte prosím formulář níže.</p>
            <div class="well">
                <p>
                    PRO ZOBRAZENÍ FORMULÁŘE SE PROSÍM PŘIHLASTE
                </p>
            </div>
            <p>Máte-li další dotazy, ozvěte se prosím Světlaně Tomiczkové na e-mail <a href="mailto:svetlana@kma.zcu.cz">svetlana@kma.zcu.cz</a>, případně přijďte osobně do UC 258.</p>
        </div>

        <div class="col-sm-2 sidenav">
        </div>


    </div>




