@model IEnumerable<ISSSC.Models.Feedback>

@{
    ViewBag.Title = "Feedback";
    ViewBag.ActiveMenuItem = "menu-statistics";
}

@{
    ViewBag.Title = "Feedback";
}
<div class="body-content container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <h2>Feedbacky k lekci</h2>
            <table class="table">
                <tr>
                    <th class="col-sm-2">
                        Login uživatele
                    </th>
                    <th>
                        Text
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdParticipationNavigation.IdUserNavigation.Login)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                    </tr>
                }

            </table>
            <p>
                @Html.ActionLink(@SSCISResources.Resources.BACK, "Generate")
            </p>
        </div>
        <div class="col-sm-2 sidenav">

        </div>
    </div>
</div>