
@{
    ViewBag.Title = "QR kód";
}

<div class="row content">
    <div class="col-sm-2 sidenav">
    </div>

    <div class="col-sm-8 text-left">
        <h1>Generování QR kódu</h1>
        <div class="well">
            <h3>QR kód pro feedback</h3>
            <p>
                @if (ViewBag.QRCodeImage != null)
                {
                    <img src="@ViewBag.QRCodeImage" alt="" style="height:250px;width:250px" />
                }
            </p>
            <p>
                <a href="@ViewBag.FeedbackURL">@ViewBag.FeedbackURL</a>
            </p>
        </div>
    </div>


        <div class="col-sm-2 sidenav">
        </div>


</div>






