
@{
    ViewBag.Title = "Zpráva odeslána";
}
<div class="body-content container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <h2>Zpráva odeslána</h2>
            <p>Vaše zpráve se zpětnou vazbou byla odeslána, děkujeme.</p>
        </div>
        <div class="col-sm-2 sidenav">

        </div>
    </div>
</div>

