
@{
    ViewBag.Title = SSCISResources.Resources.MY_EVENTS;
    ViewBag.ActiveMenuItem = "menu-tutorevents";
}
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>

        <div class="col-sm-8 text-left">
            <h2>@SSCISResources.Resources.MY_EVENTS</h2>
            <p>
                @Html.Raw(@ViewBag.EventCreated)
            </p>
            @ViewBag.TutorEventsTable
        </div>


        <div class="col-sm-2 sidenav">
        </div>



    </div>