
@{
    ViewBag.Title = SSCISResources.Resources.LOGIN;
}

<div class="row content">
    <div class="col-sm-8 text-left">
        <h1>@SSCISResources.Resources.LOGIN</h1>
        <hr />
        <div class="well">
            @ViewBag.AuthFrame
        </div>
        <hr />
    </div>
</div>





