
@{
    ViewBag.Title = SSCISResources.Resources.USERS;
    ViewBag.ActiveMenuItem = "menu-users";
}


    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>

        <div class="col-sm-8 text-left">
            <h2>Nelze smazat</h2>
            <p>Uživatele není možné smazat, existují pro něj podřízené záznamy.</p>
        </div>

        <div class="col-sm-2 sidenav">
        </div>
    </div>
