@{
    ViewBag.ActiveMenuItem = "menu-contact";
}

<div class="row content">
    <div class="col-sm-2 sidenav">
    </div>

    <div class="col-sm-8 text-left">
        <h1>Kontakt</h1>
        <hr />
        <p>
            <strong>Máte dotazy? Kontaktujte nás:</strong>
            <br />
            <br />
            KMA: Světlana Tomiczková, <a href="mailto:svetlana@kma.zcu.cz">svetlana@kma.zcu.cz</a>
            <br />
            <br />
            KIV: Libor Váša, <a href="mailto:lvasa@kiv.zcu.cz">lvasa@kiv.zcu.cz</a>
        </p>
        <div class="well">
            <div id="map" style="width:100%;height:400px;"></div>
        </div>
        <hr>
    </div>


    <script>
        function myMap() {
            var mapCanvas = document.getElementById("map");
            var mapOptions = {
                center: new google.maps.LatLng(49.726903, 13.352262), zoom: 17
            };
            var map = new google.maps.Map(mapCanvas, mapOptions);
        }
    </script>
    <script src=@ViewBag.MapToken></script>

    <div class="col-sm-2 sidenav">

    </div>
</div>



