
@{
    ViewBag.Title = "ProcessLogin";
}

<h2>ProcessLogin</h2>
@{ 
    if (ViewData.ContainsKey("logged") && (bool)ViewData["logged"])
    {
        <h3>Přihlášen.</h3>
    }
    else
    {
        <h3>Nepřihlášen.</h3>
    }
}

