@{
    ViewBag.Title = "Statistiky";
    ViewBag.ActiveMenuItem = "menu-statistics";
}


@{
    ViewBag.Title = "Generate";
}

    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <h2>Statistiky</h2>
            @Html.ActionLink("Feedback", "Generate", "Feedbacks")


        </div>
        <div class="col-sm-2 sidenav">

        </div>
    </div>