
@{
    ViewBag.Title = "Nedostatečné oprávnění";
}
<div class="body-content container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>

        <div class="col-sm-8 text-left">
            <h2>Nedostatečné oprávnění</h2>
            <p>Pro přístup na požadovanou funkčnost nemáte dostatečná oprávnění.</p>

                <div class="col-sm-2 sidenav">
                </div>

        </div>
    </div>
    </div>